.spacer {
  flex: 1 1 auto;
}

.footer-divider {
  border: none;
  border-top: 1px solid #ccc; // linha cinza
  margin: 20px 0 0 0;
}

.footer {
  text-align: center;
  padding: 10px 0;
  color: #666;
  font-size: 14px;
}

.app-title{
  margin-left:-20px;
}

.logo {
  width: 58px;   // tamanho de ícone
  height: 58px;  // mantém proporção
  object-fit: contain;
  margin-right: 0px; // espacinho antes do texto
  margin-top:-10px;
   margin-left:-17px;

}
