<h2>Backing Tracks and guitar tone presets</h2>

<div *ngIf="loading" class="loading">
  <mat-spinner diameter="50"></mat-spinner> loading presets...
</div>

<div *ngIf="!loading && !error && presets.length > 0" class="filter-container">
  <mat-form-field appearance="outline">
    <mat-label>Search</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Type to search..." />
  </mat-form-field>
</div>

<div *ngIf="error" style="color:red">{{ error }}</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="!loading && !error && presets.length > 0">

  <!-- Artist Column -->
  <ng-container matColumnDef="artist">
    <th mat-header-cell *matHeaderCellDef>Guitar Player/Band/Style</th>
    <td mat-cell *matCellDef="let element">{{ element.artist }}</td>
  </ng-container>

  <!-- Song Column -->
  <ng-container matColumnDef="song">
    <th mat-header-cell *matHeaderCellDef>Song</th>
    <td mat-cell *matCellDef="let element">{{ element.song }}</td>
  </ng-container>

  <!-- Play Music Column -->
  <ng-container matColumnDef="playmusic">
  <th mat-header-cell *matHeaderCellDef>Play Backing Track</th>
  <td mat-cell *matCellDef="let element">
    <button mat-button color="accent"
      *ngIf="element.playmusic"
      (click)="openVideo(element.playmusic, element.song)">
      play video
    </button>
  </td>
</ng-container>

  <!-- Preset Guitar Column -->
  <ng-container matColumnDef="presetguitar">
    <th mat-header-cell *matHeaderCellDef>Preset (Download)</th>
    <td mat-cell *matCellDef="let element">{{ element.presetguitar }}</td>
  </ng-container>

  <!-- Software Column -->
  <ng-container matColumnDef="software">
    <th mat-header-cell *matHeaderCellDef>Software/Gear</th>
    <td mat-cell *matCellDef="let element">{{ element.software }}</td>
  </ng-container>

  <!-- Video Preset Column -->
  <ng-container matColumnDef="videopreset">
  <th mat-header-cell *matHeaderCellDef>Video testing Preset</th>
  <td mat-cell *matCellDef="let element">
    <button mat-button color="accent"
      *ngIf="element.videopreset"
      (click)="openVideo(element.videopreset, element.song)">
      play video
    </button>
  </td>
</ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator *ngIf="!loading && !error && presets.length > 0"
               [pageSize]="10"  
               [pageSizeOptions]="[10, 20, 50]"
               showFirstLastButtons>
</mat-paginator>

<div *ngIf="!loading && !error && presets.length === 0">
  No items found.
</div>
